.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    -min-width: 44rem;
}


.menuItem > a {
    font-size: 1rem;
    font-family: 'NowRegular', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 2rem;
    color: #3b3b3b;    
}


.menuItem > a:hover {
    color: #00a7d1!important;
}

.menuItem > a:visited,
.menuItem > a:active {
    color: inherit;    
}

.active > a {
    color: #00a7d1!important;
}

.white > a{
    color: white;
}

.active.white > a{
    -color: #3b3b3b!important;
}

.menuItem > a {
    display: inline-block;
    text-decoration: none;
}

.menuItem > a:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #00a7d1;
    transition: width .3s;
}

.menuItem > a:hover:after {
    width: 100%;
    //transition: width .3s;
}

